<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style=""> //THIS CONTAINS EVERYTHING IN THAT TOP SECTION
          //YOU'RE GOING TO FLEX THIS CONTAINER HORIZONTALLY --  this way the two div below will be placed left and right of eacH other

        <div>  //THIS CONTAINS EVERTHING THAT'LL BE IN THE LEFT
               //STYLE AND STRUCTURE THIS CONTAINER SO THAT THOSE TWO HEADING BELOW IS ALIGNED PROPERLY
            <H3>
                Booking confirmed
            </H3>
            <h4>
                Bienvenue, Lucia
            </h4>
        </div>
        
        <div>   //THIS CONTAINS EVERTHING THAT'LL BE IN THE RIGHT
            <button>
                Print receipt
            </button>
            <button>
                Add to calender
            </button>
        </div>

    </div>
</body>
</html>